* { 
    margin: 0; 
    padding: 0; 
}

body {
    max-width: 1920px;
}

#btn {
    position: absolute;
    top: 22%;
    left: 298px;
    height: 75px;
    border: 0;
    border-left: 1px solid rgb(23, 32, 43, 0.2);
    background: rgb(177, 171, 172);
    color: #333;
    cursor: pointer;
}

.left_list { 
    float: left;
    position:absolute;
    left: 0; 
    height: 100%; 
    width: 300px; 
    margin-left: 0; 
    display: block; 
    background-color: #333; 
}

.left_list ul li { 
    height: 80px; 
    line-height: 80px; 
    list-style-type: none; 
    text-align: center; 
    color : #d4d4d4;
}

.left_list ul li a { 
    width: 100%; 
    height: 100%; 
    text-decoration-line: none; 
    color: #d4d4d4; 
    display: block; 
}

.left_list ul li a:hover { 
    background: rgb(99, 96, 99); 
}

.right_box_slow_list {
    margin-left: 300px;
    padding-top: 20px;
    width: 999px;
    display: block;
    padding-left: 30px;
}

.right_box_slow_header {
    height: 100px;
    margin-left: 300px;
    padding-bottom: 45px;
    background: #141E30;
    background: -webkit-gradient(linear, left top, right top, from(#0c2646), color-stop(60%, #204065), to(#2a5788));
    background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);
    position: relative;
    overflow: hidden;
}

.left_delete_padding_button {
    padding-left: 600px;
}

#right_box_show_header_title {
    padding-top: 0px;
    padding-left: 30px;
    font-size: 50px;
    color:  #d4d4d4;
}

#ip_port_input {
    padding-left: 10px;
    width: 750px;
}
